<!DOCTYPE html>
<html lang="zh-CN">

<head>
  {% block head_meta %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
  {% endblock %}
  {% block head_css %}
  {# 用相对路径，避免反代未传 X-Forwarded-Proto 时生成 http:// 导致 HTTPS 混合内容拦截 #}
  <link rel="stylesheet" href="/admin/statics/css/tabler.min.css">
  <link rel="stylesheet" href="/admin/statics/css/tabler-icons.min.css">
  <link rel="stylesheet" href="/admin/statics/css/fontawesome-all.min.css">
  <link rel="stylesheet" href="/admin/statics/css/select2.min.css">
  <link rel="stylesheet" href="/admin/statics/css/flatpickr.min.css">
  <link rel="stylesheet" href="/admin/statics/css/main.css">
  {% endblock %}
  {% if admin.favicon_url %}
  <link rel="icon" href="{{ admin.favicon_url }}">
  {% endif %}
  <title>{{ admin.title }}</title>
  {% block head %}
  {% endblock %}
  {% block head_tail %}
  {% endblock %}
</head>

<body>
  {% block body %}
  <main>
    {% block main %}
    {% endblock %}
  </main>
  {% endblock %}
  {% block tail_js %}
  <script type="text/javascript" src="/admin/statics/js/jquery.min.js"></script>
  <script type="text/javascript" src="/admin/statics/js/tabler.min.js"></script>
  <script type="text/javascript" src="/admin/statics/js/select2.full.min.js"></script>
  <script type="text/javascript" src="/admin/statics/js/flatpickr.min.js"></script>
  <script type="text/javascript" src="/admin/statics/js/main.js"></script>
  <script>
    $(document).off('shown.bs.modal', '#modal-delete').on('shown.bs.modal', '#modal-delete', function (event) {
      var element = $(event.relatedTarget);
      var name = element.data("name");
      var pk = element.data("pk");
      $("#modal-delete-text").text("即将永久删除「" + name + " #" + pk + "」，确定吗？");
      $("#modal-delete-button").attr("data-url", element.data("url"));
    });
  </script>
  {% endblock %}
  {% block tail %}
  {% endblock %}


</body>

</html>
